# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.opendb
*.db
*.db-shm
*.db-wal

# Build output
x64/
x86/
Debug/
Release/
*.obj
*.pch
*.ilk
*.pdb
*.ipch
*.tlog
*.lastbuildstate

# Compiled binaries
*.exe
*.dll
*.lib

# File Content Index
FileContentIndex/

# NuGet packages
packages/
